@model List<Electronic>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a href="/Electronics/Add" class="btn btn-primary">Добавить товар</a>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Electronic in Model)
            {
                <tr>
                    <td>@Electronic.Id</td>
                    <td>@Electronic.Name</td>
                    <td>@Electronic.Type</td>
                    <td>
                        <a href="/Electronics/Edit/@Electronic.Id">Редактировать</a>
                        <a href="/Electronics/Remove/@Electronic.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
